		*{
			margin:0;
			padding:0;
    		font-family: Verdana, Arial ,sans-serif;
    		text-align: center;
    	}
    	h1{
    		position: absolute;
    		top : 50px;
    		left: 180px;
    		padding-top: : 0;
    		padding-left: 20%;
    	}
    	a:link{
  			color: #000000;
  			text-decoration: none;
		}
		a:visited{
  			color: #C80000;
  			text-decoration: none;
		}
		a:hover{
  			color: #000000;
  			text-decoration: none;
		}
    	#clogo{
    		position: absolute;
    		left:0;
    		top:0;
    		width: 150px;
    		height: 150px;
    		margin:0;
    		padding:0;
    		border:0;
    	}
    	#row1{
    		position:relative;
    		width : 100%;
    		background-color: #E5F11E;
    		margin: 0;
    		border-color: #000000;
    		border-width: 1px;
    		height:150px;
    	}
    	#contactus{
    		position: absolute;
    		bottom : 0;
    		right: 0;
    		height : 20%;
    		width : 8%;
    	}
    	#logoption{
    		position: absolute;
    		bottom : 0;
    		right: 8%;
    		height : 20%;
    		width : 8%;
    	}
    	#r2c1{
    		position: relative;
    		background-color: #62F15C;
    		height : 100%;
    		width : 50%;
    	}
    	.sociallogo{
    		height : 55px;
    		width : 55px;
    	}
    	#row2{
    		height : 450px;
    		position: relative;
    		width: 100%;
    	}
    	#sociallinks{
    		position: relative;
    		left: 0;
    	}
    	#socials{
    		position: relative;
    		left:0;
    		font-size: 20px;
    		font-weight: bold;
    		font-stretch: expanded;
    		padding-top: 5%;
    	}
    	#info{
    		position:relative;
    		left: 0;
    		font-size: 25px;
    		font-weight: bold;
    		font-stretch: extra-expanded;
    		padding:10%;
    		padding-bottom: 15%;
    	}
    	#r2c2{
    		position:absolute;
    		left:50%;
    		top:0%;
    		width:;
    		height: 100%;
    		background-color: #EDD39C;
    	}
    	.serviceslogo{
    		position:relative;
    		top: 90%;
    		height: 120px;
    		width: 20%;
    		margin:1%;
    		border-color: #000000;
    		border-width: 1%;
    	}
    	#services{
    		position: relative;
    		left:8%;
    		top:45%;
    		width:92%;
    	}
    	.servicecaption{
    		font-weight: bold;
    		font-size: 18px;
    		position:absolute;
    		top:90%;
    		padding:1%;
    	}
    	#c1{
    		position:absolute;
    		left:5%;
    		width:20%;
    	}
    	#c2{
    		position:absolute;
    		left:28%;
    		width:20%;
    	}
    	#c3{
    		position:absolute;
    		left:50%;
    		width:20%;
    	}
    	#c4{
    		position:absolute;
    		left:73%;
    		width:20%;
    	}
    	#text{
    		position:relative;
    		left: 0;
    		top: 25%;
    		font-size: 25px;
    		font-weight: bold;
    		font-stretch: extra-expanded;
    	}
    	#AUTC{
    		position:absolute;
    		left:0;
    		bottom:0;
    	}
    	#Brands{
    		position: absolute;
    		right: 0;
    		bottom: 0;
    	}
    	#BWS{
    		font-color: #000000;
    		font-size: 15px;
    	}
    	#row3{
    		position:relative;
    		width : 100%;
    		background-color: #89817C;
    		margin: 0;
    		height:154px;
    	}
    	#operatingcities{
    		position:absolute;
    		top:15%;
    		margin bottom:1%;
    		width:100%;
    		font-weight: bold;
    		font-stretch: semi-expanded;
    		font-size: 20px;
    	}
    	.whitefont{
    		color: #FFFFFF;
    		font-size: 17px;
    		text-align: center;
    		padding-top: 4%;
    	}
    	#city1{
    		position: absolute;
    		top:50%;
    		left:15%;
    		background-color: #000000;
    		width:10%;
    		height: 20%;
    		margin:1px;
    	}
    	#city2{
    		position: absolute;
    		top:50%;
    		left:29%;
    		background-color: #000000;
    		width:10%;
    		height: 20%;
    		margin:1px;
    	}
    	#city3{
    		position: absolute;
    		top:50%;
    		left:43%;
    		background-color: #000000;
    		width:10%;
    		height: 20%;
    		margin:1px;
    	}
    	#city4{
    		position: absolute;
    		top:50%;
    		left:57%;
    		background-color: #000000;
    		width:10%;
    		height: 20%;
    		margin:1px;
    	}
    	#city5{
    		position: absolute;
    		top:50%;
    		left:71%;
    		background-color: #000000;
    		width:10%;
    		height: 20%;
    		margin:1px;
    	}
    	/*************Large Devices**************/
    	@media (min-width: 992px) {
		  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		    float: left;
		  }
		  .col-lg-1 {
		    width: 8.33%;
		  }
		  .col-lg-2 {
		    width: 16.66%;
		  }
		  .col-lg-3 {
		    width: 25%;
		  }
		  .col-lg-4 {
		    width: 33.33%;
		  
		  }
		  .col-lg-5 {
		    width: 41.66%;
		  }
		  .col-lg-6 {
		    width: 50%;
		  }
		  .col-lg-7 {
		    width: 58.33%;
		  }
		  .col-lg-8 {
		    width: 66.66%;
		  }
		  .col-lg-9 {
		    width: 74.99%;
		  }
		  .col-lg-10 {
		    width: 83.33%;
		  }
		  .col-lg-11 {
		    width: 91.66%;
		  }
		  .col-lg-12 {
		    width: 100%;
		  }

		  
		}

		/********** Medium devices only **********/
		@media (min-width: 768px) and (max-width: 991px) {
		  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		    float: left;
		  }
		  .col-md-1 {
		    width: 8.33%;
		  }
		  .col-md-2 {
		    width: 16.66%;
		  }
		  .col-md-3 {
		    width: 25%;
		  }
		  .col-md-4 {
		    width: 33.33%;
		  }
		  .col-md-5 {
		    width: 41.66%;
		  }
		  .col-md-6 {
		    width: 50%;
		  }
		  .col-md-7 {
		    width: 58.33%;
		  }
		  .col-md-8 {
		    width: 66.66%;
		  }
		  .col-md-9 {
		    width: 74.99%;
		  }
		  .col-md-10 {
		    width: 83.33%;
		  }
		  .col-md-11 {
		    width: 91.66%;
		  }
		  .col-md-12 {
		    width: 100%;
		  }
		}

		/********** Mobile only **********/
		@media (max-width: 767px) {
		  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		    float: left;
		  }
		  .col-sm-1 {
		    width: 8.33%;
		  }
		  .col-sm-2 {
		    width: 16.66%;
		  }
		  .col-sm-3 {
		    width: 25%;
		  }
		  .col-sm-4 {
		    width: 33.33%;  
		  }
		  .col-sm-5 {
		    width: 41.66%;
		  }
		  .col-sm-6 {
		    width: 50%;
		  }
		  .col-sm-7 {
		    width: 58.33%;
		  }
		  .col-sm-8 {
		    width: 66.66%;
		  }
		  .col-sm-9 {
		    width: 74.99%;
		  }
		  .col-sm-10 {
		    width: 83.33%;
		  }
		  .col-sm-11 {
		    width: 91.66%;
		  }
		  .col-sm-12 {
		    width: 100%;
		  }  
		}